
# If a debugger is available for your engine, use it?
#NARWHAL_DEBUGGER=1

# Alternate engines

# Rhino
#NARWHAL_DEFAULT_ENGINE="rhino"

# JavaScript Core
#NARWHAL_ENGINE="jsc"
#NARWHAL_ENGINE_HOME="packages/jsc"

