---
github_url: "http://github.com/tlrobinson/narwhal"
articles:
- name: available packages
  link: "/available-packages.html"
- name: browser api plan
  link: "/browser-api-plan.html"
- name: browser api
  link: "/browser-api.html"
- name: browser deployment
  link: "/browser-deployment.html"
- name: catalog
  link: "/catalog.html"
- name: download
  link: "/download.html"
- name: engines
  link: "/engines.html"
- name: introduction
  link: "/index.html"
- name: json tool
  link: "/json-tool.html"
- name: lib / binary
  link: "/lib/binary.html"
- name: lib / file
  link: "/lib/file.html"
- name: lib / system
  link: "/lib/system.html"
- name: modules advanced
  link: "/modules-advanced.html"
- name: modules
  link: "/modules.html"
- name: narwhal / json
  link: "/narwhal/json.html"
- name: narwhal
  link: "/narwhal.html"
- name: packages howto
  link: "/packages-howto.html"
- name: packages using
  link: "/packages-using.html"
- name: packages
  link: "/packages.html"
- name: platforms
  link: "/platforms.html"
- name: quick start
  link: "/quick-start.html"
- name: sea
  link: "/sea.html"
- name: test
  link: "/test.html"

links:
- name: source
  link: "http://github.com/tlrobinson/narwhal"
- name: mailing list
  link: "http://groups.google.com/group/narwhaljs"
- name: jack & jsgi
  link: "http://jackjs.org/"
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>narwhal - {{ page.title }}</title>
<link rel="stylesheet" type="text/css" media="all"  href="/css/libraries.css" />
<link rel="stylesheet" type="text/css" media="all"  href="/css/template.css" />
<!--<link rel="stylesheet" type="text/css" media="all"  href="css/template_debug.css" />-->
<link rel="stylesheet" type="text/css" media="all" href="/css/grids.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/content.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/disqus.css" />
<script type="text/javascript" charset="utf-8" src="/js/misc.js"></script>
</head>
<body>
{% if page.github_url != '' %}
<a href="{{ page.github_url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
{% endif %}
<!--<h1>{{ page.title }}</h1>-->
<div class="page">
    <!--<div class="head"></div>-->
    <div class="body">
        <!--<div class="leftCol"></div>-->
        <div class="rightCol">
            <h1>Blog</h1>
            <ul>
            {% for post in site.posts %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
            <h1>Documentation</h1>
            <ul>
            {% for article in page.articles %}
                <li><a href="{{ article.link }}">{{ article.name }}</a></li>
            {% endfor %}
            </ul>
            <h1>Links</h1>
            <ul>
            {% for article in page.links %}
                <li><a href="{{ article.link }}">{{ article.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="main">
{{ content }}

            <div id="disqus_thread"></div>
            <script type="text/javascript" charset="utf-8">/*disqus_developer = 1;*/</script>
            <script type="text/javascript" src="http://disqus.com/forums/jsgijack/embed.js"></script>
            <noscript><a href="http://jsgijack.disqus.com/?url=ref">View the discussion thread.</a></noscript>
        </div>
    </div>
    <!--<div class="foot"></div>-->
</div>
</body>
</html>
